.parentDivide {
  height: 50vh;
  margin-top: 50px;
  padding: 20px;
}

.partsDivide {
  height: 100%;
  display: flex;
}

.part1Divide {
  height: 100%;
  width: 50%;
  background: #00c9ff;
  background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  position: relative;
  overflow: hidden; /* Ensure the overflowed image doesn't protrude */
  margin-right: 10px;
  border-radius: 20px;
}

.part2Divide {
  height: 100%;
  width: 50%;
  background: #00c9ff;
  background: -webkit-linear-gradient(to left, #92fe9d, #00c9ff);
  background: linear-gradient(to left, #92fe9d, #00c9ff);
  position: relative;
  overflow: hidden; /* Ensure the overflowed image doesn't protrude */
  margin-left: 10px;
  border-radius: 20px;
}

.bannerDivide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.imageSetDivide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.itemDivide,
.shopDivide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.itemDivide:hover,
.shopDivide:hover {
  text-decoration: none;
}

.part1Divide:hover .bannerDivide,
.part2Divide:hover .bannerDivide {
  transform: scale(1.1); /* Add scale effect on hover */
}

.part1Divide:hover .imageSetDivide,
.part2Divide:hover .imageSetDivide {
  transform: scale(1.1); /* Add scale effect on hover */
}
