.parent-container {
  height: 100vh;
}
.parts {
  height: 100%;
}
.part1 {
  height: 100%;
  width: 50%;
  background: #b2fefa;
  background: -webkit-linear-gradient(to left, #0ed2f7, #b2fefa);
  background: linear-gradient(to left, #0ed2f7, #b2fefa);
}

.part2 {
  height: 100%;
  width: 50%;
  background: #b2fefa;
  background: -webkit-linear-gradient(to right, #0ed2f7, #b2fefa);
  background: linear-gradient(to right, #0ed2f7, #b2fefa);
}

.imageSet {
  height: 70%;
  width: 100%;
}

.seperator-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.seperator-text span {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s ease; /* Add transition effect for color change */
  cursor: pointer;
}

.seperator-text span::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #ffffff;
  left: -4px;
  top: 0;
  transition: height 0.3s ease; /* Add transition effect for underline height change */
}

.seperator-text span:hover {
  color: #3f3939; /* Change text color on hover */
}

.seperator-text span:hover::before {
  height: 110%; /* Extend underline height on hover */
}

.buyerLanding {
  position: absolute;
  color: rgb(0, 0, 0);
  top: 70%;
}
.ownerLanding {
  position: absolute;
  color: rgb(0, 0, 0);
  top: 10%;
  text-shadow: #fff;
}
