.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 5px;
  /* background-color: #f9f9f9; */
  width: 300px;
  /* background: #00c9ff;
  background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
  background: linear-gradient(to right, #92fe9d, #00c9ff); */
  margin-top: 70px;
  margin-bottom: 70px;
}

.login-container h2 {
  margin-bottom: 15px;
}

.login-container label {
  margin-bottom: 5px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  width: 100%;
  padding: 8px 0;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container p {
  margin-top: 15px;
}

.login-container p a {
  color: #007bff;
}

.login-container p a:hover {
  text-decoration: underline;
}

.ownerMainDiv {
  background: #00c9ff;
  background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
  background: linear-gradient(to right, #92fe9d, #00c9ff);
}
.buyerImageSet {
  padding: 100px;
  margin-top: 80px;
  border-radius: 120px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.buyerImageSet:hover {
  transform: scale(0.8);
  filter: brightness(80%);
}
