.card {
  width: 25%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin: 0;
}

.card-price {
  font-size: 16px;
  margin: 5px 0 0 0;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
