.containerDemo {
  display: flex;
  flex-direction: column;
  /* margin-left: 60px; */
  /* background: #b2fefa;
  background: -webkit-linear-gradient(to left, #0ed2f7, #b2fefa);
  background: linear-gradient(to left, #0ed2f7, #b2fefa); */

  background-color: #44b09e;
  background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);

  /* background: rgb(42, 41, 41); */
}

.product-category {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin between each product category */
}

.product-category h3 {
  display: inline-block;
  background-color: #1a98ab; /* Adjust background color */
  color: white;
  padding: 10px 20px; /* Adjust padding */
  border-radius: 5px; /* Add border radius */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 50px;
}
