.my-container {
    max-width: 800px;
    margin: 20px auto;
    margin-top: 70px;
}

.my-order-item {
    margin-bottom: 20px;
}

.my-order-date h2 {
    margin: 0;
    font-size: 20px;
}

.my-card-container {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my-card-container::-webkit-scrollbar {
    display: none;
}

.my-card-container .card3 {
    margin-right: 10px;
}