.parentMostDivide {
  height: 30vh;
  padding-left: 450px;
  padding-right: 450px;
}

.partsMostDivide {
  height: 100%;
  display: flex;
}

.part1MostDivide {
  height: 100%;
  width: 50%;
  background: #00c9ff;
  background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  position: relative;
  overflow: hidden;
  /* Ensure the overflowed image doesn't protrude */
  margin-right: 10px;
  border-radius: 20px;
  border-radius: 50%;
  /* Make it circular */
  border: 5px solid #000;
  /* Add thick black border */
  transition: transform 0.3s ease;
  /* Add transition effect */
}

.part2MostDivide {
  height: 100%;
  width: 50%;
  background: #00c9ff;
  background: -webkit-linear-gradient(to left, #92fe9d, #00c9ff);
  background: linear-gradient(to left, #92fe9d, #00c9ff);
  position: relative;
  overflow: hidden;
  /* Ensure the overflowed image doesn't protrude */
  margin-left: 10px;
  border-radius: 20px;
  border-radius: 50%;
  /* Make it circular */
  border: 5px solid #000;
  /* Add thick black border */
  transition: transform 0.3s ease;
  /* Add transition effect */
}

.bannerMostDivide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  /* Add transition for smooth effect */
}

.imageSetMostDivide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  /* Add transition for smooth effect */
}

.itemMostDivide,
.shopMostDivide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.itemMostDivide:hover,
.shopMostDivide:hover {
  text-decoration: none;
}

.part1MostDivide:hover .bannerMostDivide,
.part2MostDivide:hover .bannerMostDivide {
  transform: scale(1.1);
  /* Add scale effect on hover */
}

.part1MostDivide:hover .imageSetMostDivide,
.part2MostDivide:hover .imageSetMostDivide {
  transform: scale(1.1);
  /* Add scale effect on hover */
}
